<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccb.test.report.mapper.ReportMapper">
    <resultMap id="BaseResultMap" type="com.ccb.test.report.vo.ReportVo">
        <result column="bizCode" property="bizCode" jdbcType="VARCHAR"/>
        <result column="returnCode" property="returnCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="total" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getReport" resultMap="BaseResultMap">
        SELECT
          bizCode, returnCode, "status" as status, 1 as total FROM t_p_bizreturn_1d
        WHERE
          time_tag &lt;= #{startDate, jdbcType=VARCHAR}
        AND
          time_tag &gt;= #{endDate, jdbcType=VARCHAR}
        AND
          bizCode = #{bizCode, jdbcType=VARCHAR}
        GROUP BY bizCode, returnCode
    </select>
</mapper>